
*.py[cod]
*.pyo
*.pyd
*.so


.venv/
env/
venv/


.ipynb_checkpoints/


*.log
logs/
*.tmp
*.swp


.DS_Store
Thumbs.db


*.egg-info/
dist/
build/


*.faiss
*.pkl
*.npy
rag/faiss_index/
rag/*.bin
rag/*.idx


data/chat_logs_txt/
data/chat_logs_jsonl/
*.jsonl
*.csv
*.xlsx
*.docx
*.ods
*.odt


id_rsa
id_rsa.pub
id_ed25519
id_ed25519.pub
pty
pty.pub
*.pem
*.key
*.crt


*.pid
*.sock


project_structure.txt
debug_check.py
merge_sop.py
.env
